~/Home/My GitHub/TheBeachBIAProject/04_ProgressReport/data

# Ignore R session history and data
*.Rhistory
*.RData
.Ruserdata

# Ignore RStudio project settings
.Rproj.user/

# Ignore system junk
.DS_Store

# Large Data Files
**toronto_bike_share.parquet
**fit_bayes_final.rds
**fit_user_split.rds