~/Home/My GitHub/TheBeachBIAProject/04_ProgressReport/data

# Ignore R session history and data
*.Rhistory
*.RData
.Ruserdata

# Ignore RStudio project settings
.Rproj.user/

# Ignore system junk
.DS_Store